body {
  color: #cecece;
  background: #222;
  overflow: hidden;
}
.item-1,
.item-2,
.item-3 {
  position: absolute;
  display: block;
  top: 2em;
  width: 60%;
  font-size: 2em;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.item-1 {
  animation-name: anim-1;
}
.item-2 {
  animation-name: anim-2;
}
.item-3 {
  animation-name: anim-3;
}
@keyframes anim-1 {
  0%,
  8.3% {
    left: -100%;
    opacity: 0;
  }
  8.3%,
  25% {
    left: 25%;
    opacity: 1;
  }
  33.33%,
  100% {
    left: 110%;
    opacity: 0;
  }
}
body {
  background: #444;
}
#container {
  display: flex;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  justify-content: center;
  margin-top: 100px;
}
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
body {
  margin: 0px;
}
#container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;
  filter: url(#threshold) blur(0.6px);
}
#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 80pt;
  text-align: center;
  user-select: none;
}
