body {
  color: #cecece;
  background: #222;
  overflow: hidden;
}
.item-1,
.item-2,
.item-3 {
  position: absolute;
  display: block;
  top: 2em;
  width: 60%;
  font-size: 2em;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.item-1 {
  animation-name: anim-1;
}
.item-2 {
  animation-name: anim-2;
}
.item-3 {
  animation-name: anim-3;
}
@keyframes anim-1 {
  0%,
  8.3% {
    left: -100%;
    opacity: 0;
  }
  8.3%,
  25% {
    left: 25%;
    opacity: 1;
  }
  33.33%,
  100% {
    left: 110%;
    opacity: 0;
  }
}
body {
  background: #444;
}
#container {
  display: flex;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  justify-content: center;
  margin-top: 100px;
}
.circle {
  background: #fff;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 auto;
  width: 17em;
  height: 17em;
  overflow: hidden;
  transform: translateZ(0);
}
.circle h1 {
  color: #bdb9c700;
  font-weight: 900;
  font-size: 1.6em;
  line-height: 8.2em;
  text-align: center;
  text-transform: uppercase;
  font-smoothing: antialiased;
  -webkit-user-select: none;
  transition: color 0.8s ease-in-out;
}
.circle:before,
.circle:after {
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  box-shadow: inset 10.6em 0 0 #a8b84833, inset 0 10.6em 0 #a8b84833,
    inset -10.6em 0 0 #a8b84833, inset 0 -10.6em 0 #a8b84833;
  transition: box-shadow 0.75s;
}
.circle:after {
  transform: rotate(45deg);
}
.circle:hover:before,
.circle:hover:after {
  box-shadow: inset 0.86em 0 0 #ff000080, inset 0 0.86em 0 #fc960080,
    inset -0.86em 0 0 #00ff0080, inset 0 -0.86em 0 #0096ff80;
}
.circle:hover > h1 {
  color: #444444;
}