:root {
    --sp: 1s;
    /* change speed */
    --bg: #3884ff45;
    /* change color */
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #101010;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content div {
    width: var(--sz);
    height: var(--sz);
    box-shadow: 0 0 1vmin 0 var(--bg), -0.25vmin 0.25vmin 1vmin 0 #000b;
    background: var(--bg);
    position: absolute;
    animation: twist calc(var(--sp) * 1) ease-in-out 0s infinite alternate;
}

.content div:nth-child(1) {
    --sz: 70vmin;
    animation-delay: calc(var(--sp) * 0.07);
    filter: hue-rotate(15deg);
}

.content div:nth-child(2) {
    --sz: 65vmin;
    animation-delay: calc(calc(var(--sp) * 0.07) * 2);
    filter: hue-rotate(30deg);
}

.content div:nth-child(3) {
    --sz: 60vmin;
    animation-delay: calc(calc(var(--sp) * 0.07) * 3);
    filter: hue-rotate(45deg);
}

.content div:nth-child(4) {
    --sz: 55vmin;
    animation-delay: calc(calc(var(--sp) * 0.07) * 4);
    filter: hue-rotate(60deg);
}

.content div:nth-child(5) {
    --sz: 50vmin;
    animation-delay: calc(calc(var(--sp) * 0.07) * 5);
    filter: hue-rotate(75deg);
}

:root {
    background: #E7E6E6;
    color: #9c9c9c;
    font: 1rem "PT Sans", sans-serif;
}

html,
body,
.container {
    height: 100%;
}

a {
    color: inherit;
}

a:hover {
    color: #7f8ff4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.btn--primary {
    background: #7f8ff4;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 36px;
}

.btn--primary:hover {
    background: #6c7ff2;
}

.btn--primary:active {
    background: #7f8ff4;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn--inside {
    margin-left: -96px;
}

.form__field {
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}